[client]
user=root
password="{{ mysql.rootpass }}"

[mysql]
user=root
password="{{ mysql.rootpass }}"

[mysqldump]
user=root
password="{{ mysql.rootpass }}"

[mysqldiff]
user=root
password="{{ mysql.rootpass }}"
